.Cart {
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    max-width: 400px;
    margin: auto;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    padding: 10px 0;
    gap: 20px;
}

.cart-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.cart-item-details {
    display: inline;
    flex-direction: column;
    gap: 5px;
}

.cart-item-details h3 {
    margin: 0;
    font-size: 18px;
}

.cart-item-details p {
    margin: 0;
    font-size: 16px;
}

.cart-item-summary {
    margin-bottom: 10px;
}

.cart-item-quantity {
    display: inline;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cart-item-quantity button {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

.cart-item-quantity button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.cart-item-actions {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.clear-cart-button, .checkout-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.clear-cart-button {
    background-color: #dc3545;
}

.checkout-button {
    background-color: #28a745;
}

.clear-cart-button:hover {
    background-color: #c82333;
}

.checkout-button:hover {
    background-color: #218838;
}