.Item {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
  width: 250px;
  display: inline-block;
}

.Item img {
  width: 100px;
  height: auto;
}

.Item h3 {
  font-size: 20px;
  color: #343a40;
}

.Item p {
  font-size: 14px;
  color: #6c757d;
}

.Item button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.Item button:hover {
  background-color: darkgreen;
}